<?xml version='1.0'?>
<!--
/*
 * Copyright (c) 2008 CO-CONV, Corp.
 * Copyright (C) 2010 Bruce Cran.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?include config.wxi ?>
  
  <Module Id='SctpDrv'
          Version="$(var.VersionMajor).$(var.VersionMinor).$(var.VersionRev)"
          Language="$(var.Language)"
          Codepage="$(var.Codepage)">

    <Package Id="587e72d5-1610-4f24-a88c-2f5b6e6c1930"
        Description="SctpDrv" InstallPrivileges="elevated" InstallScope="perMachine"
        Comments="SCTP Driver" InstallerVersion="301"
        Platform="$(var.Platform)" Manufacturer="Bruce Cran"
        Keywords="Installer,MSI,Database" Languages="$(var.Language)" SummaryCodepage="$(var.Codepage)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="SctpDrv" Name="SctpDrv">
          <Directory Id="bin" Name="bin"/>
          <Directory Id='lib' Name='lib'/>
          <Directory Id='inc' Name='inc'>
            <Directory Id='netinet' Name='netinet'/>
          </Directory>
          <Directory Id='src' Name='src'/>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="root"/>
    <ComponentGroupRef Id="inc"/>
    <ComponentGroupRef Id="lib"/>
    <ComponentGroupRef Id="bin"/>
    <ComponentGroupRef Id="src"/>

    <DirectoryRef Id='bin'>
      <Component Id="sctpsp32.dll" Guid="22408cd8-b619-4b67-aa74-528b51806b30">
        <File Id="sctpsp32.dll" Source="bin\$(env.BUILD_ALT_DIR)\sctpsp.dll" Checksum="yes"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket32.dll" Guid="bf9d6d37-e6b3-4acb-903d-c0537a9b89c8">
        <File Id="SctpDrv.SctpSocket32.dll" Source="bin\$(env.BUILD_ALT_DIR)\SctpDrv.SctpSocket.dll" Checksum="yes"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket32.dll_VS" Guid="201c0f45-aa31-4108-927e-bad61c19a73a" Win64="no">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName] x86" Value="[$SctpDrv.SctpSocket32.dll]" Type="string"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="lib">
      <Component Id="sctpsp32.lib" Guid="63f68af6-ee77-49a9-84f6-7027611c55b7">
        <File Id="sctpsp32.lib" Source="..\sp\dll\obj$(env.DDKBUILDENV)_wlh_x86\i386\sctpsp.lib" />
      </Component>
      <Component Id="libsctp32.a" Guid="a22e737f-c297-4a01-8420-02acf1ebc18f">
        <File Id="libsctp32.a" Name="libsctp.a" Source="..\sp\dll\obj$(env.DDKBUILDENV)_wlh_x86\i386\sctpsp.lib" />
      </Component>
    </DirectoryRef>

</Module>
</Wix>
