<?xml version='1.0'?>
<!--
/*
 * Copyright (c) 2008 CO-CONV, Corp.
 * Copyright (C) 2010-2012 Bruce Cran.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */
-->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
	xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>
	<Fragment>
		<?include config.wxi ?>

		<ComponentGroup Id='root'>
			<ComponentRef Id='README.txt'/>
			<ComponentRef Id='CHANGES.txt'/>
			<ComponentRef Id='SctpDrv.chm'/>
		</ComponentGroup>

		<ComponentGroup Id='bin'>
			<ComponentRef Id='spinstall.exe'/>
			<ComponentRef Id='echo_client.exe'/>
			<ComponentRef Id='echo_server.exe'/>
			<ComponentRef Id='sctpsp32.dll'/>
			<ComponentRef Id='SctpDrv.SctpSocket32.dll'/>
			<ComponentRef Id='SctpDrv.SctpSocket32.dll_VS'/>
			<?if $(var.Platform)=x64 ?>
			<ComponentRef Id='sctpsp64.dll'/>
			<ComponentRef Id='SctpDrv.SctpSocket64.dll'/>
			<ComponentRef Id='SctpDrv.SctpSocket64.dll_VS'/>
			<?endif ?>
			<ComponentRef Id='sctpmon.dll'/>
			<ComponentRef Id='sctpdrv.sys'/>
		</ComponentGroup>

		<ComponentGroup Id='inc'>
			<ComponentRef Id='ws2sctp.h'/>
			<ComponentRef Id="sctp.h"/>
			<ComponentRef Id="sctp_uio.h"/>
		</ComponentGroup>

		<ComponentGroup Id='lib'>
			<ComponentRef Id='sctpsp32.lib'/>
			<?if $(var.Platform)=x64 ?>
			<ComponentRef Id='sctpsp64.lib'/>
			<?endif ?>
		</ComponentGroup>

		<ComponentGroup Id='src'>
			<ComponentRef Id='echo_client.c'/>
			<ComponentRef Id='echo_server.c'/>
			<ComponentRef Id='echo_server2.c'/>
		</ComponentGroup>

		<DirectoryRef Id='inc'>
                        <Component Id="ws2sctp.h" Guid="a85ec122-dada-4678-9fbf-ae37f1212732" Win64="$(var.Win64)">
				<File Source="..\apps\inc\ws2sctp.h" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id='netinet'>
                        <Component Id="sctp.h" Guid="f1383a3a-4711-4102-a5b2-dd19ac576a73" Win64="$(var.Win64)">
				<File Source="..\netinet\sctp.h"/>
			</Component>

                        <Component Id="sctp_uio.h" Guid="ef7089da-3aae-4d33-9411-63a6db8009ec" Win64="$(var.Win64)">
				<File Source="..\netinet\sctp_uio.h"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id='src'>
                        <Component Id="echo_client.c"  Guid="2139e483-8bd0-42f5-a645-c5ce24bdadba" Win64="$(var.Win64)">
				<File Source="..\apps\echo_client\echo_client.c" />
			</Component>

                        <Component Id="echo_server.c" Guid="e8220ce0-a650-4fff-86bf-d39e9d15706d" Win64="$(var.Win64)">
				<File Source="..\apps\echo_server\echo_server.c" />
			</Component>

                        <Component Id="echo_server2.c" Guid="a262c81c-b2e9-4466-8eaa-109373bd784b" Win64="$(var.Win64)">
				<File Source="..\apps\echo_server2\echo_server2.c" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id='bin'>
			<Component Id="spinstall.exe" Win64="$(var.Win64)" Guid="a9555e78-fcf9-4087-843f-f02605d6a375">
				<File Checksum="yes" Source="bin\$(env.BUILD_ALT_DIR)\spinstall.exe" />
			</Component>
                        <Component Id="echo_client.exe" Win64="$(var.Win64)" Guid="bbddeac9-838a-41f8-98a9-4bc1d0e175e3">
				<File Checksum="yes" Source="bin\$(env.BUILD_ALT_DIR)\echo_client.exe" />
			</Component>
			<Component Id="echo_server.exe" Win64="$(var.Win64)" Guid="d14aea0a-e7e1-4707-9914-994dbf984182">
				<File Checksum="yes" Source="bin\$(env.BUILD_ALT_DIR)\echo_server.exe" />
			</Component>
                        <Component Id="sctpmon.dll" Win64="$(var.Win64)" Guid="96042ac3-2fd7-46f9-8ed5-3abe5d883d1d">
				<File KeyPath="yes" Checksum="yes" Source="bin\$(env.BUILD_ALT_DIR)\sctpmon.dll" />

				<RegistryKey Root='HKLM' Key='SOFTWARE\Microsoft\NetSh'>
					<RegistryValue Type='string' Name='sctpmon' Value='[!sctpmon.dll]'/>
				</RegistryKey>
			</Component>
                        <Component Id="sctpdrv.sys" Win64="$(var.Win64)" Guid="fa538c80-6b0b-4736-b479-a3dce8f8a6a8">
				<File Name="sctpdrv.inf" Source="bin\$(env.BUILD_ALT_DIR)\sctpdrv.inf" Checksum="yes" />

				<File Source="bin\$(env.BUILD_ALT_DIR)\sctpdrv.cat" />

				<File Source="bin\$(env.BUILD_ALT_DIR)\sctpdrv.sys" Checksum="yes" />

				<RegistryKey Root='HKLM' Key='System\CurrentControlSet\Services\Eventlog\System\sctpdrv'>
					<RegistryValue Name='EventMessageFile' Type='expandable' Value='%SystemRoot%\System32\drivers\sctpdrv.sys'/>
					<RegistryValue Name='TypesSupported' Type='integer' Value='7'/>
				</RegistryKey>

                <difx:Driver AddRemovePrograms='no' DeleteFiles='yes' ForceInstall='yes' Legacy='yes'/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id='SctpDrv'>
                        <Component Id="README.txt" Win64="$(var.Win64)" Guid="26eb124f-b750-4716-b09a-9fbfe5f2e84c">
                                <File Source="README.txt"/>
			</Component>
                        <Component Id="CHANGES.txt" Win64="$(var.Win64)" Guid="1c0dd2b4-e9b0-4379-aa4d-a85a93852aa6">
				<File Source="..\CHANGES.txt"/>
			</Component>
                        <Component Id="SctpDrv.chm" Win64="$(var.Win64)" Guid="0e7fdaeb-cbc1-4050-99e1-d1e7479fb27e">
				<File Source="..\doc\SctpDrv.chm"/>
			</Component>
		</DirectoryRef>

    <InstallExecuteSequence>
      <?if $(var.Platform)=x64 ?>
      <Custom Action="SctpInstallProvider" After="MsiProcessDrivers">NOT (REMOVE="ALL")</Custom>
      <Custom Action="SctpInstallProviderSysWow64" After="MsiProcessDrivers">NOT (REMOVE="ALL")</Custom>
      <Custom Action="SctpUninstallProvider" Before="MsiProcessDrivers">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="SctpUninstallProviderSysWow64" Before="MsiProcessDrivers">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <?endif ?>
      <?if $(var.Platform)=x86 ?>
      <Custom Action="SctpInstallProvider" After="MsiProcessDrivers">NOT (REMOVE="ALL")</Custom>
      <Custom Action="SctpUninstallProvider" Before="MsiProcessDrivers">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <?endif ?>

      <?if $(env.DDK_TARGET_OS)!=WinNET and $(env.DDK_TARGET_OS)!=WinXP ?>
      <Custom Action="SctpAddFirewallRule" After="MsiProcessDrivers">NOT (REMOVE="ALL")</Custom>
      <?endif ?>
    </InstallExecuteSequence>
	</Fragment>
</Wix>
