<?xml version='1.0'?>
<!--
/*
 * Copyright (c) 2008 CO-CONV, Corp.
 * Copyright (C) 2010 Bruce Cran.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
		xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>

  <?include config.wxi ?>
  
<Module Id='SctpDrv' 
        Version="$(var.VersionMajor).$(var.VersionMinor).$(var.VersionRev)"
        Language="$(var.Language)"
        Codepage="$(var.Codepage)">

  <Package Id="363135a6-be79-449e-8ff8-27263e68625d"
			Description="SctpDrv" InstallPrivileges="elevated" InstallScope="perMachine"
			Comments="SCTP Driver" InstallerVersion="301"
			Platform="$(var.Platform)" Manufacturer="Bruce Cran"
			Keywords="Installer,MSI,Database" Languages="$(var.Language)" SummaryCodepage="$(var.Codepage)" />

  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="$(var.PlatformProgramFilesFolder)">
      <Directory Id="SctpDrv" Name="SctpDrv">
        <Directory Id="bin" Name="bin"/>
        <Directory Id='lib' Name='lib'/>
        <Directory Id='inc' Name='inc'>
          <Directory Id='netinet' Name='netinet'/>
        </Directory>
        <Directory Id='src' Name='src'/>
      </Directory>
    </Directory>
    <?if $(var.Platform)=x64 ?>
    <Directory Id="ProgramFilesFolder">
      <Directory Id="SctpDrv32" Name="SctpDrv">
        <Directory Id="bin32" Name="bin"/>
        <Directory Id="lib32" Name="lib"/>
      </Directory>
    </Directory>
    <?endif ?>
  </Directory>

  <ComponentGroupRef Id="root"/>
  <ComponentGroupRef Id="inc"/>
  <ComponentGroupRef Id="lib"/>
  <ComponentGroupRef Id="bin"/>
  <ComponentGroupRef Id="src"/>

  <DirectoryRef Id="bin32">
    <Component Id="sctpsp32.dll" Guid="22408cd8-b619-4b67-aa74-528b51806b30">
      <File Id="sctpsp32.dll" Name="sctpsp.dll" KeyPath="yes"
        Source="bin\$(env.DDKBUILDENV)_$(env.DDK_TARGET_OS)_x86\sctpsp.dll" />
    </Component>

    <Component Id="sctpsp32.pdb" Guid="8a166931-6eca-4c99-bb19-122359f4bf9b">
      <File Id="sctpsp32.pdb" Name="sctpsp.pdb" KeyPath="yes"
        Source="symbol\$(env.DDKBUILDENV)_$(env.DDK_TARGET_OS)_x86\private\dll\sctpsp.pdb"/>
    </Component>

    <Component Id="SctpDrv.SctpSocket32.dll" Guid="bf9d6d37-e6b3-4acb-903d-c0537a9b89c8">
      <File Id="SctpDrv.SctpSocket32.dll" Name="SctpDrv.SctpSocket.dll" KeyPath="yes"
      Source="bin\$(env.DDKBUILDENV)_$(env.DDK_TARGET_OS)_x86\SctpDrv.SctpSocket.dll"/>
    </Component>

    <Component Id="SctpDrv.SctpSocket32.dll_VS" Guid="5165055e-84a9-4582-b30c-37350b318fde" Win64="no">
      <RegistryValue Id="SctpDrv.SctpSocket32DT.dll_VS" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName] x86" Value="[$SctpDrv.SctpSocket32.dll]" Type="string"/>
    </Component>

	<Component Id="SctpDrv.SctpSocket32.pdb" Guid="47dc68de-272e-4805-bf20-4b63bc0c1825">
		<File Id="SctpDrv.SctpSocket32.pdb" Name="SctpDrv.SctpSocket.pdb" KeyPath="yes"
		Source="symbol\$(env.DDKBUILDENV)_$(env.DDK_TARGET_OS)_x86\private\dll\SctpDrv.SctpSocket.pdb"/>
	</Component>	  
  </DirectoryRef>
  
  <DirectoryRef Id="lib32">
    <Component Id="sctpsp32.lib" Guid="63f68af6-ee77-49a9-84f6-7027611c55b7">
      <File Id="sctpsp32.lib" Name="sctpsp.lib" KeyPath="yes"
        Source="..\sp\dll\obj$(env.DDKBUILDENV)_win7_x86\i386\sctpsp.lib" />
    </Component>
    <Component Id="libsctp32.a" Guid="b269038f-0bae-4e0d-a9b3-695813644acb">
      <File Id="libsctp32.a" Name="libsctp.a" KeyPath="yes"
        Source="..\sp\dll\obj$(env.DDKBUILDENV)_win7_x86\i386\sctpsp.lib" />
    </Component>
  </DirectoryRef>

  <DirectoryRef Id="bin">
    <Component Id="sctpsp64.dll" Win64="$(var.Win64)" Guid="1c5ea8c6-3b72-4cb0-932c-0859a3f9dc25">
      <File Id="sctpsp64.dll" Name="sctpsp.dll" KeyPath="yes" Checksum="yes"
        Source="bin\$(env.BUILD_ALT_DIR)\sctpsp.dll" />
    </Component>

    <Component Id="sctpsp64.pdb" Win64="$(var.Win64)" Guid="fb8aa80e-f7d3-4b61-9df0-88330feb2b05">
      <File Id="sctpsp64.pdb" Name="sctpsp.pdb" KeyPath="yes"
        Source="symbol\$(env.BUILD_ALT_DIR)\private\dll\sctpsp.pdb"/>
    </Component>

    <Component Id="SctpDrv.SctpSocket64.dll" Win64="$(var.Win64)" Guid="14ec619e-dcfa-4804-b325-e8001e760eaf">
      <File Id="SctpDrv.SctpSocket64.dll" Name="SctpDrv.SctpSocket.dll" KeyPath="yes"
      Source="bin\$(env.BUILD_ALT_DIR)\SctpDrv.SctpSocket.dll"/>
    </Component>

    <Component Id="SctpDrv.SctpSocket64.dll_VS" Win64="no" Guid="533ddba7-ec94-40b2-9d5f-a80093da058b">
      <RegistryValue Id="SctpDrv.SctpSocket64.dll_VS" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName] x64" Value="[$SctpDrv.SctpSocket64.dll]" Type="string"/>
    </Component>

	<Component Id="SctpDrv.SctpSocket64.pdb" Win64="$(var.Win64)" Guid="7986c20a-06fd-482c-a259-7f3a354d0442">
		<File Id="SctpDrv.SctpSocket64.pdb" Name="SctpDrv.SctpSocket.pdb" KeyPath="yes"
		Source="symbol\$(env.BUILD_ALT_DIR)\private\dll\SctpDrv.SctpSocket.pdb"/>
	</Component>
  
  </DirectoryRef>
 

  <DirectoryRef Id="lib">
    <Component Id="sctpsp64.lib" Win64="$(var.Win64)" Guid="21765fed-6174-4a7e-b8f1-44829c2de3f0">
      <File Id="sctpsp64.lib" Name="sctpsp.lib" KeyPath="yes"
        Source="..\sp\dll\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\sctpsp.lib" />
    </Component>
    <Component Id="libsctp64.a" Win64="$(var.Win64)" Guid="23302ddc-0f8c-4b26-9a33-e2887510398a">
      <File Id="libsctp64.a" Name="libsctp.a" KeyPath="yes"
        Source="..\sp\dll\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\sctpsp.lib" />
    </Component>
  </DirectoryRef>
	
</Module>
</Wix>