<?xml version='1.0'?>
<!--
/*
 * Copyright (c) 2008 CO-CONV, Corp.
 * Copyright (C) 2010 Bruce Cran.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
		xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>

  <?include config.wxi ?>
  <Module Id='SctpDrv'
          Version="$(var.VersionMajor).$(var.VersionMinor).$(var.VersionRev)"
          Language="$(var.Language)"
          Codepage="$(var.Codepage)">

    <Package Id="cbd780c2-8be5-4537-b7ec-5d2268d62c65"
        Description="SctpDrv" InstallPrivileges="elevated" InstallScope="perMachine"
        Comments="SCTP Driver" InstallerVersion="301"
        Platform="$(var.Platform)" Manufacturer="Bruce Cran"
        Keywords="Installer,MSI,Database" Languages="$(var.Language)" SummaryCodepage="$(var.Codepage)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="SctpDrv" Name="SctpDrv">
          <Directory Id="bin" Name="bin"/>
          <Directory Id='lib' Name='lib'/>
          <Directory Id='inc' Name='inc'>
            <Directory Id='netinet' Name='netinet'/>
          </Directory>
          <Directory Id='src' Name='src'/>
        </Directory>
      </Directory>
      <?if $(var.Platform)=x64 ?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SctpDrv32" Name="SctpDrv">
          <Directory Id="bin32" Name="bin"/>
          <Directory Id="lib32" Name="lib"/>
        </Directory>
      </Directory>
      <?endif ?>
    </Directory>

    <ComponentGroupRef Id="root"/>
    <ComponentGroupRef Id="inc"/>
    <ComponentGroupRef Id="lib"/>
    <ComponentGroupRef Id="bin"/>
    <ComponentGroupRef Id="src"/>

    <DirectoryRef Id="bin32">
      <Component Id="sctpsp32.dll" Guid="22408cd8-b619-4b67-aa74-528b51806b30">
        <File Id="sctpsp32.dll" Source="bin\$(env.DDKBUILDENV)_wlh_x86\sctpsp.dll" Checksum="yes"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket32.dll" Guid="bf9d6d37-e6b3-4acb-903d-c0537a9b89c8">
        <File Id="SctpDrv.SctpSocket32.dll" Source="bin\$(env.DDKBUILDENV)_wlh_x86\SctpDrv.SctpSocket.dll" Checksum="yes"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket32.dll_VS" Guid="f8a92b7f-c2f6-4ced-ae51-1195ee26222d" Win64="no">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName] x86" Value="[$SctpDrv.SctpSocket32.dll]" Type="string"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="lib32">
      <Component Id="sctpsp32.lib" Guid="63f68af6-ee77-49a9-84f6-7027611c55b7">
        <File Id="sctpsp32.lib" Source="..\sp\dll\obj$(env.DDKBUILDENV)_wlh_x86\i386\sctpsp.lib" />
      </Component>
      <Component Id="libsctp32.a" Guid="e05038f9-610f-438e-980e-ab4fc3ffb1be">
        <File Id="libsctp32.a" Name="libsctp.a" KeyPath="yes"
          Source="..\sp\dll\obj$(env.DDKBUILDENV)_wlh_x86\i386\sctpsp.lib" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="bin">
      <Component Id="sctpsp64.dll" Win64="$(var.Win64)" Guid="1c5ea8c6-3b72-4cb0-932c-0859a3f9dc25">
        <File Source="bin\$(env.BUILD_ALT_DIR)\sctpsp.dll" Checksum="yes"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket64.dll" Win64="$(var.Win64)" Guid="14ec619e-dcfa-4804-b325-e8001e760eaf">
        <File Source="$(var.Configuration)\x64\SctpDrv.SctpSocket.dll"/>
      </Component>

      <Component Id="SctpDrv.SctpSocket64.dll_VS" Guid="962059b1-07a7-4457-abc1-685778288ce9" Win64="no">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName] x64" Value="[$SctpDrv.SctpSocket64.dll]" Type="string"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="lib">
      <Component Id="sctpsp64.lib" Win64="$(var.Win64)" Guid="21765fed-6174-4a7e-b8f1-44829c2de3f0">
        <File Source="..\sp\dll\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\sctpsp.lib" />
      </Component>
      <Component Id="libsctp64.a" Win64="$(var.Win64)" Guid="ec1d27f1-e962-4fad-b910-42802b1201e1">
        <File Id="libsctp64.a" Name="libsctp64.a" Source="..\sp\dll\obj$(env.BUILD_ALT_DIR)\$(var.ARCHDIR)\sctpsp.lib" />
      </Component>
    </DirectoryRef>
  </Module>
</Wix>